subflows/subflow_parse_90d_libors.json
[
    {
        "name": "parse 90d libors",
        "in": [
            {
                "y": 293,
                "x": 254.5,
                "wires": [
                    {
                        "id": "87ab1625.15abd8"
                    }
                ]
            }
        ],
        "info": "",
        "id": "cc71c120.9afe4",
        "type": "subflow",
        "out": [
            {
                "y": 293,
                "x": 1215.5,
                "wires": [
                    {
                        "id": "9c7caa2e.850698",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "as": "single",
        "name": "get interest tables",
        "z": "cc71c120.9afe4",
        "y": 293,
        "id": "87ab1625.15abd8",
        "ret": "html",
        "x": 424.5,
        "type": "html",
        "wires": [
            [
                "43ada3a6.4cd99c"
            ]
        ],
        "tag": "#ctl00 > table.maintable > tr > td > table > tr:nth-child(2) > td:nth-child(2) > table:nth-child(14) > tr > td > table:nth-child(1)"
    },
    {
        "wires": [
            [
                "a169e2c1.2d24c"
            ]
        ],
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "name": "get first table",
        "z": "cc71c120.9afe4",
        "y": 293,
        "id": "43ada3a6.4cd99c",
        "x": 662.5,
        "type": "function",
        "outputs": 1,
        "noerr": 0
    },
    {
        "as": "single",
        "name": "get current rates",
        "z": "cc71c120.9afe4",
        "y": 293,
        "id": "a169e2c1.2d24c",
        "ret": "html",
        "x": 882.5,
        "type": "html",
        "wires": [
            [
                "9c7caa2e.850698"
            ]
        ],
        "tag": "td"
    },
    {
        "wires": [
            []
        ],
        "func": "var arrayLength = msg.payload.length;\n\nvar output = [];\n\nif (msg.payload[0] != \"&#xA0;Current interest rates\") {\n    node.error(\"Unexpected header found: \" + msg.payload[0], msg);\n    return;\n}\n\nfor (i=1; i<arrayLength; i += 2) {\n    output.push({\n        dateOfRate: (new Date(msg.payload[i].replace(\"&#xA0;\",\"\"))).toISOString().split(\"T\")[0],\n        rate: Number(msg.payload[i+1].replace(\"&#xA0;%\",\"\"))\n    })\n}\n\nmsg.payload = output;\nreturn msg;",
        "name": "parse",
        "z": "cc71c120.9afe4",
        "y": 293,
        "id": "9c7caa2e.850698",
        "x": 1085.5,
        "type": "function",
        "outputs": 1,
        "noerr": 0
    }
]